/* :root { */
/*   font-size: 12pt; */
/* } */

@page {
  margin-top: 15mm;
  margin-bottom: 15mm;
  margin-left: 15mm;
  margin-right: 15mm;
  @bottom-center {
    content: counter(page);
  }
}

h1.title,
.title.h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.header-section-number {
  color: black;
}

h2,
.h2 {
  border-bottom: none;
}

.table {
  --bs-table-striped-bg: white;
}

/* @media print { */
/*   @page { */
/*     counter-increment: page; */
/*     @bottom-center { */
/*       content: counter(page); */
/*     } */
/*   } */
/* } */
